<div id="contributionDiv" ng-controller="ContributionsController as contributionsCtrl">

<!-- TODO The ng-repeat is wrong since we're referencing test data - should just be a 2-way data binding -->
<h1 ng-repeat="contribution in contributions">Contribution Overview of: {{ contribution.id }}</h1>

<div ng-show="{{ contribution.isDefaultBranch }}" class="alert alert-danger">
    Sorry, we can't merge contributions from the default branch.
    For more information see the <a href="#help">help</a>.
</div>

<div class="verticalSpacer"></div>

<!-- TODO The ng-repeat is wrong since we're referencing test data - should just be a 2-way data binding -->
<div ng-repeat="contribution in contributions" class="row">
    <div class="col-md-4">
        <div class="contributionOverview-sectionBox">
            <div class="glyphicon glyphicon-info-sign br-icon"></div>
            <div class="br-iconCaption">Key Information</div>

            <div class="contributionOverview-fieldName">Name</div>
            <div class="contributionOverview-fieldValue">{{ contribution.name }}</div>

            <div class="contributionOverview-fieldName">Repository</div>
            <div class="contributionOverview-fieldValue">{{ contribution.repositoryId }}</div>

            <div class="contributionOverview-fieldName contributionOverview-url">
                <a href="{{ contribution.pullRequestUrlForOwner }}" target="_blank">BitBucket Pull Request Link</a>
            </div>

            <div class="contributionOverview-fieldName contributionOverview-url">
                <a href="{{ contribution.webrevLocation }}" target="_blank">Webrev Link</a>
            </div>

            <div class="contributionOverview-fieldName">Description</div>
            <div class="contributionOverview-fieldValue">{{ contribution.description }}</div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="contributionOverview-sectionBox">
            <div class="glyphicon glyphicon-user br-icon"></div>
            <div class="br-iconCaption">People</div>

            <div class="contributionOverview-fieldName">Requester</div>
            <div class="contributionOverview-fieldValue">{{ contribution.requester.name }}</div>

            <div class="contributionOverview-fieldName">OCA Status</div>
            <div class="contributionOverview-fieldValue">{{ contribution.requester.ocaStatus.displayName }}</div>

            <div class="contributionOverview-fieldName">Bitbucket Username</div>
            <div class="contributionOverview-fieldValue">{{ contribution.requester.bitbucketUserName }}</div>

            <div ng-hide="{{ contribution.isDefaultBranch }}">
                <div class="contributionOverview-fieldName">
                    <!-- TODO - hook in the below -->
                    <a href="{{ contribution.mentorEmailsUrl }}">Mentors</a>
                </div>
                <ul ng-repeat="mentor in contribution.mentors">
                    <li>{{ mentor.name}} ({{ mentor.email }})</li>
                </ul>
            </div>
        </div>

        <div class="verticalSpacer"></div>

        <div class="contributionOverview-sectionBox">
            <div class="glyphicon glyphicon-tags br-icon"></div>
            <div class="br-iconCaption">Tags</div>

            <ul ng-repeat="tag in contribution.tags" >
                <li>{{ tag.name }}</li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="contributionOverview-sectionBox">
            <div class="glyphicon glyphicon-time br-icon"></div>
            <div class="br-iconCaption">Timeline</div>

            <div class="contributionOverview-fieldName">Status</div>
            <div class="contributionOverview-fieldValue">
                <div class="contributionStatus {{ contribution.state }}">
                    {{ contribution.state }}
                </div>
            </div>

            <div class="contributionOverview-fieldName">Created On</div>
            <div class="contributionOverview-fieldValue">{{ contribution.createdOn | date : 'dd MMM yyyy HH:mm' }}</div>

            <div class="contributionOverview-fieldName">Last Updated On</div>
            <div class="contributionOverview-fieldValue">{{ contribution.updatedOn | date : 'dd MMM yyyy HH:mm' }}</div>

            <div class="contributionOverview-fieldName">Events</div>

            <ul ng-repeat="contributionEvent in contribution.contributionEvents">
                <li>{{ contributionEvent }}</li>
            </ul>
        </div>
    </div>
</div>

</div>